/*====================
07. Slider Style CSS
=======================*/
.slider {
  &-item {
    background-size: cover;
    backdrop-filter: blur(10px);
    background-position: center center;
    display: flex !important;
    align-items: center;
    height: 750px;
    
   

    @media #{$md-device} {
      height: 600px;
    }

    @media #{$sm-device} {
      height: 500px;
    }
  }

  &-content {
    
    transform: translate(25%);
    background: rgba(0, 0, 0, 0.08);
    font-size: 19px;
    text-align: center;
    font-weight: 500;
    color:white;
    margin: auto;
    @media #{$lg-device}{
      max-width: 700px;
    }
    @media #{$md-device} {
      max-width: 575px;
      font-size: 14px;
    }

    @media #{$sm-device} {
      max-width: 300px;
      font-size: 12px;
    }

    h2 {
      width: 900px;
      font-size: 40px;
      text-transform: uppercase;
      
      @media #{$md-device}{
        max-width: 500px
      }

      @media #{$lg-device} {
        font-size: 20px;
        max-width: 700px;
      }

      @media #{$sm-device} {
        max-width: 300px;
        font-size: 15px;
        

        br {
          display: block;
        }
      }
    }

    p {
      @media #{$xl-device} {
        max-width: 575px;
        text-align: center;
        
      }
    }

    .btn {
      color: aqua;
      margin-top: 30px;
      align-items: center;

      @media #{$sm-device} {
        margin-top: 20px;
      }
    }

    &--2 {
      h2 {
       
      }
    }

    &.light {
      color: $white;

      h2 {
        color: $white;
      }
    }
  }
}

.slider-area {
  position: relative;

  .slick-arrow {
    color: $blackSoft;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    font-size: 70px;
    z-index: 9;

    @media #{$sm-device} {
      font-size: 40px;
      left: 30px;
    }

    &.slick-next {
      left: auto;
      right: 50px;

      @media #{$sm-device} {
        right: 30px;
      }
    }
  }

  .slick-dots{
    display: flex !important;
    position: absolute;
    margin-top: 0;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  &--2{
    .slick-arrow{
      color: $white;
    }
  }
}